.site{background: #fff;overflow: hidden;    padding-bottom: 10px;}
.site .site-t{margin: 13px 4%; overflow: hidden;}
.site .site-t ul{border: 1px solid #41aff7; border-radius: 5px; display: -webkit-box; text-align: center; overflow: hidden;}
.site .site-t ul li{display: block; height: 30px; line-height: 30px; text-align: center; font-size: 16px; -webkit-box-flex: 1;}
.site .site-t ul .cur{background: #41aff7; color: #FFF;}
.site .site-t ul li:not(:last-child){border-right: 1px solid #41aff7;}
.site .site-b ul{border-top: 1px solid #e4e4e4; margin-bottom: 12px;}
.site .site-b ul li{width: 42%; margin: 0 4%; position: relative; float: left; border-bottom: 1px dashed #e4e4e4;}

.list{height: 50px; padding: 11px 0;}
.list span{width: 50px; height: 50px; border-radius: 10px; display: block; float: left; margin-right: 10px; font-size: 46px; }
.list p{font-size: 15px; margin-top: 15px;}


.icon{width: 50px; height: 50px; vertical-align: -0.15em; fill: currentColor; overflow: hidden; border-radius: 10px; display: block; float: left; margin-right: 10px; font-size: 46px;}

.site .site-b ul li:nth-child(odd):after{content: ''; display: block; position: absolute; width: 1px; height: 51px; border-right-width: 1px; border-right-style: dashed; border-right-color: #e4e4e4; right: -9.5%; top: 12px;}



#Cbacktop{width:40px; height:40px; background:url(../images/index-icon.png) no-repeat 0 -143px; background-size:600px; display:none; overflow:hidden; position:fixed; right:10px; bottom:100px; z-index:500}

