

.main{background: #fff;}

.content{margin: 0 4%; zoom: 1;}
.content-top{padding: 0; background: #FFF;}
.content-top .pe label{display: block; height: 50px; line-height: 50px; padding-left: 10px; font-size: 16px; color: rgba(0,0,0,0.8);    overflow: hidden;}
.content-top .pe input{box-sizing: border-box; width: 100%; font-size: 14px; color: rgba(0,0,0,0.7); border: 1px solid #e0e0e0; border-radius: 3px;}
.content-top .pe .text{height: 36px; line-height: 36px; padding: 8px;}
.content-top .pe .tj{height: 30px; line-height: 30px; font-size: 14px; border-color: #41aff7; color: #41aff7; background: #fff; -webkit-appearance: none;}
.content-top .pe textarea{height: 170px; padding: 8px; resize: none; margin-bottom: 10px; box-sizing: border-box; width: 100%; font-size: 14px; color: rgba(0,0,0,0.7); border: 1px solid #e0e0e0; border-radius: 3px;}
.content-top .gzh{padding: 10px 0; font-size: 14px; color: rgba(0,0,0,0.54);}
.content-top .gzh p{height: 24px; line-height: 24px; font-size: 14px; color: rgba(0,0,0,0.54);}
.content-top .gzh p span{color:  #41aff7;}
