


.na{background: #fff; overflow: hidden;}
.na .na-top{padding: 1rem 0 .5rem;}
.na .na-top ul{height: 2.4rem; font-size: .875rem; margin: 0 1rem; border: 1px solid #41aff7; border-radius: .3rem; display: -webkit-box;}
.na .na-top ul li{text-align: center; line-height: 2.3rem; border-right: 1px solid #41aff7; -webkit-box-flex: 1;}
.na .na-top ul li a{display: block; color: #41aff7;}
.na .na-top ul li:last-child{border-right: 0;}
.na .na-top ul li.curr a{color: #fff;}
.na .na-top ul li.curr{background: #41aff7;}

.list{padding: 0 1rem;}
.list ul{padding-top: 1rem;}
.list ul li{padding: 1rem 6rem 1rem 0; border-bottom: 1px solid #e8e8e8; position: relative;}
.list ul li:first-child{padding-top: 0;}
.int{height: 5rem; display: -webkit-box;}
.list ul li .img{width: 5rem; height: 5rem;}
.list ul li .img img{max-width: 120px; max-height: 120px; min-width: 50px; min-height: 50px; width: 5rem; height: 5rem; border-radius: 1rem;}
.list ul li .inf{padding-left: .8rem; -webkit-box-flex: 1;} 
.list ul li .inf .name{height: 1.8rem; line-height: 1.8rem; font-weight: bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.list ul li p.x{font-size: .8rem; color: #a1a1a1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.list ul li p.x em{color: #E8E8E8; padding: 0 .3rem;}
.list ul li p.x em.chui{display: inline-block; background: #fff; height: 1rem; width: 1rem; position: relative; left: -.6rem; top: .2rem;}
.list ul li p.tag{width: 80%; position: absolute; bottom: .8rem; padding: 0 1rem .5rem; margin-left: -1rem;}
.list ul li p.tag span{display: inline-block; margin-right: .3rem; border: 1px solid #39C4D1; font-size: .7rem; color: #39C4D1; padding: 0 .5rem; line-height: 1.1rem; border-radius: .2rem;}

a.durl{width: 5rem; height: 2rem; line-height: 2rem; border: 1px solid #41aff7; color: #41aff7; display: inline-block; border-radius: .3rem; text-align: center; background: #fff; margin-top: -1rem; right: 0; top: 40%; position: absolute;}
.lookmore{margin: 0.5rem 0rem 0rem;     padding: 7px 1rem;}
.lookmore a{display: block; background: -webkit-gradient(linear,0% 0%, 100% 0%, from(#41aff7), to(#41aff7)); line-height: 2.6rem; height: 2.6rem; text-align: center; color: #fff; border-radius: .4rem;}
.lookmore span{display: inline-block; position: relative;}
.lookmore span:after{position: absolute; display: block; content: ""; right: -.7rem; top: .6rem; margin: auto; width: .4rem; height: .9rem; background: url(../images/arrow.png) no-repeat; background-size: 100% 100%; top: .85rem;}