
.main{background: #fff;overflow: hidden;}

.icon{background: #fff; width: 100%;}
.icon ul{width: 100%; overflow: hidden; display: -webkit-box;}
.icon ul li{display: block; width:20%; text-align: center; padding: .5rem 0;}
.icon ul li a{color: #333; text-decoration: none;}
.icon ul li a div{width: 2rem; margin: .5rem auto; height: 2rem;}
.icon ul li a div img{max-width: 100%;}
.Sowing{width: 100%; height: 160px; overflow: hidden; margin-top: 5px;}
.Sowing img{width:100%;height:160px;}
.Sowing li{width:100%; height:160px; overflow:hidden; float:left}


.PicCarousel .PicWrapper:after {content: ".";display: block;clear: both;visibility: hidden;height: 0;line-height: 0;}
.PicCarousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y; margin:0;height: 160px;}
.PicCarousel .PicWrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.PicCarousel .PicWrapperOuter{overflow: hidden;position: relative;width: 100%;}
.PicCarousel .PicWrapperOuter.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.PicCarousel .PcItem{float: left;}
.PicControls .PicPage,.PicControls .PicBtn div{cursor: pointer;}
.PicControls { -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

.PicCarousel  .PicWrapper,.PicCarousel  .PcItem{-webkit-backface-visibility: hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden;-webkit-transform: translate3d(0,0,0);  -moz-transform: translate3d(0,0,0);  -ms-transform: translate3d(0,0,0);}
.PicTheme .PicControls{text-align: center; width: 100%;left: 0; bottom:0px;position: absolute; height: 30px}
.PicTheme .PicControls .PicBtn div{color: #FFF;display: inline-block;zoom: 1;*display: inline;margin: 5px;padding: 3px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;background:#fff;}
.PicTheme .PicControls.clickable .PicBtn div:hover{filter: Alpha(Opacity=100);opacity: 1; text-decoration: none;}
.PicTheme .PicControls .PicPage{display: inline-block;zoom: 1;*display: inline;}
.PicTheme .PicControls .PicPage span{display: block; width: 8px;height: 8px;margin: 11px 7px;-webkit-border-radius: 4px;  -moz-border-radius: 4px; border-radius: 20px;  background:#fff;}
.PicTheme .PicControls .PicPage.active span,.PicTheme .PicControls.clickable .PicPage:hover span{background:#f90;}
.PicTheme .PicControls .PicPage span.owl-numbers{height: auto;width: auto;color: #FFF;padding: 2px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}



.title{width: 100%; height: 35px; line-height: 35px; box-sizing: border-box; padding: 0 10px;  border-bottom: 1px solid #e4e4e4;    background: #fff;margin-top: 15px;}
.title p{width: 100%; height: 35px;}
.title span{font-size: 17px; color: #333; padding: 4px 1%; font-weight: bold; border-bottom: 3px solid #41aff7;}
.title a{float:right;font-size:13px;}



.special{width: 100%; height: 110px; margin: 0 auto; box-sizing: border-box; padding: 10px 5px; background: #fff; overflow: hidden;}
.special p{width:50%;height:110px; float:left;box-sizing:border-box;padding:0 5px;}
.special p img{width:100%;height:110px;}


.xy{height:auto;width:100%;overflow:hidden; box-sizing:border-box;padding:0 10px 10px 0; background: #fff;}
.xy ul{padding-bottom: 1rem; overflow: hidden;}
.xy ul li{float: left; width: 25%; padding: .5rem 0rem; text-align: center;}
.xy ul li div img{max-width: 120px; max-height: 120px; min-width: 50px; min-height: 50px; width: 5rem; height: 5rem; border-radius: 1rem;}
.xy ul li p{text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #333; line-height: 1.6rem; padding-top: .3rem; height: 1.9rem;}
.xy ul li span{display: block; font-size: .8rem; color: #999; height: 1.8rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.xy ul li .xz{width: 5rem; height: 2rem; line-height: 2rem; border: 1px solid #41aff7; color: #41aff7; display: inline-block; border-radius: .3rem; text-align: center; background: #fff;}

.ph{padding: 0 1rem; overflow: hidden; background: #fff;}
.ph ul li{padding: 1rem 6rem 1rem 0; border-bottom: 1px solid #e8e8e8; position: relative;}
.ph ul li:last-child{border: none;}
.ph ul li .n{height: 5rem; display: -webkit-box;}
.ph ul li .img{width: 5rem; height: 5rem;}
.ph ul li .img img{max-width: 120px; max-height: 120px; min-width: 50px; min-height: 50px; width: 5rem; height: 5rem; border-radius: 1rem;}
.ph ul li .f{padding-left: .8rem;    -webkit-box-flex: 1;}
.ph ul li .f .name{height: 1.8rem; line-height: 1.8rem; font-weight: bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.ph ul li .f .name em{display: inline-block; width: 1.2rem; height: 1.2rem; background: #999; color: #fff; text-align: center; line-height: 1rem; border-radius: .3rem; font-size: .9rem; margin-right: .3rem; vertical-align: top; margin-top: .3rem;}
.ph ul li .f .x{font-size: .8rem; color: #a1a1a1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.ph ul li .f .x em{color: #E8E8E8; padding: 0 .3rem;}
.ph ul li .f .c{font-size: .8rem; color: #787878; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;    padding-top: 8px;}
.ph .xz{width: 4rem; height: 2rem; line-height: 2rem; border: 1px solid #41aff7; color: #41aff7; display: inline-block; border-radius: .3rem; text-align: center; background: #fff; position: absolute; top: 50%; margin-top: -1rem; right: 0;}

.ph ul li:nth-child(1) .name em{background: #F73314;}
.ph ul li:nth-child(2) .name em{background: #FF8E1F;}
.ph ul li:nth-child(3) .name em{background: #FFBB33;}


.label{height:auto;width:100%;padding:0 10px;box-sizing:border-box;overflow:hidden;   background: #fff;}
.label ul{padding-bottom:10px;overflow: hidden;}
.label li{float:left;height:30px;line-height:30px;padding:0 10px;margin:10px 10px 0 0;font-size:14px;border:1px solid #ccc;border-radius:10px;}
.label li a{display:block;overflow:hidden;text-align:center;height:30px; line-height:30px; white-space:nowrap; text-overflow:ellipsis; padding:0 5px;}
.label li:nth-child(1) a,.label li:nth-child(8) a{color:#4dba50}
.label li:nth-child(2) a,.label li:nth-child(4) a{color:#4d90ba}
.label li:nth-child(3) a,.label li:nth-child(11) a{color:#966de1}
.label li:nth-child(5) a,.label li:nth-child(9) a{color:#ff9a98}
.label li:nth-child(6) a,.label li:nth-child(12) a{color:#5bc3af}
.label li:nth-child(7) a,.label li:nth-child(10) a{color:#ff7573}




#Cbacktop{width:40px; height:40px; background:url(../images/index-icon.png) no-repeat 0 -143px; background-size:600px; display:none; overflow:hidden; position:fixed; right:10px; bottom:100px; z-index:500}


