


.site{background: #fff;overflow: hidden;}
.site .site-t{margin: 13px 4%; overflow: hidden;}
.site .site-t ul{border: 1px solid #41aff7; border-radius: 5px; display: -webkit-box; text-align: center; overflow: hidden;}
.site .site-t ul li{display: block; height: 30px; line-height: 30px; text-align: center; font-size: 16px; -webkit-box-flex: 1;}
.site .site-t ul .cur{background: #41aff7; color: #FFF;}
.site .site-t ul li:not(:last-child){border-right: 1px solid #41aff7;}




.site-b{margin: 0 4%;}
.site-b ul li{padding: 11px 0; height: 70px; overflow: hidden; zoom: 1; position: relative; border-top: 1px solid #efefef;}
.site-b ul li .img{margin-right: 10px; display: block; width: 70px; float: left;}
.site-b ul li .img img{width: 70px; height: 70px; border-radius: 8px;}
.site-b ul li .mi{-webkit-box-flex: 1; color: #777; overflow: hidden; padding-right: 70px;}
.site-b ul li .mi a{display: block; height: 24px; line-height: 20px; overflow: hidden; font-size: 15px; font-weight: 700; text-overflow: ellipsis; white-space: nowrap;}
.site-b ul li .mi .az{display: block; line-height: 24px; height: 24px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #929292;font-size: 12px;}
.site-b ul li .mi .az em{margin-right: 1px;}
.site-b ul li .bt{-webkit-box-flex: 1; color: #777; overflow: hidden; padding-right: 10px;}
.site-b ul li .bt span{display: block; line-height: 24px; height: 24px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #666;}
.site-b ul li .xz{width: 60px; height: 30px; line-height: 30px; text-align: center; color: #fff; background: #41aff7;position: absolute; right: 0; top: 23px; border-radius: 3px;}


.lookmore{margin: 0.5rem 0rem 1rem; padding: 0px 1rem;}
.lookmore a{display: block; background: -webkit-gradient(linear,0% 0%, 100% 0%, from(#41aff7), to(#41aff7)); line-height: 2.6rem; height: 2.6rem; text-align: center; color: #fff; border-radius: .4rem;}
.lookmore span{display: inline-block; position: relative;}
.lookmore span:after{position: absolute; display: block; content: ""; right: -.7rem; top: .6rem; margin: auto; width: .4rem; height: .9rem; background: url(../images/arrow.png) no-repeat; background-size: 100% 100%; top: .85rem;}



#Cbacktop{width:40px; height:40px; background:url(../images/index-icon.png) no-repeat 0 -143px; background-size:600px; display:none; overflow:hidden; position:fixed; right:10px; bottom:100px; z-index:500}